<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css"
/>

<div class="card full-height w3-light-grey">
  <!-- Header -->
  <header class="w3-container w3-theme w3-padding" id="myHeader">
    <div class="w3-center">
      <h1 class="w3-xxxlarge">Galeria de Fotos</h1>
    </div>
  </header>
  <ul class="grid">
    <li>
      <figure class="grid__figure">
        <img
          src="http://www.medicalcor.com.br/uploads/2/7/3/9/27399147/9245983_orig.jpg"
          alt=""
        />
        <figcaption>Vehicula Quam Nibh</figcaption>
      </figure>
    </li>
    <li>
      <figure class="grid__figure">
        <img
          src="http://www.medicalcor.com.br/uploads/2/7/3/9/27399147/4075228_orig.jpg"
          alt=""
        />
        <figcaption>
          Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec
          ullamcorper nulla non metus auctor fringilla.
        </figcaption>
      </figure>
    </li>
    <li>
      <figure class="grid__figure">
        <img
          src="http://www.medicalcor.com.br/uploads/2/7/3/9/27399147/6802146_orig.jpg"
          alt=""
        />
        <figcaption>Parturient Mollis Malesuada Tristique Inceptos.</figcaption>
      </figure>
    </li>
    <li>
      <figure class="grid__figure">
        <img
          src="http://www.medicalcor.com.br/uploads/2/7/3/9/27399147/1741076_orig.jpg"
          alt=""
        />
        <figcaption>Vehicula Quam Nibh</figcaption>
      </figure>
    </li>
    <li>
      <figure class="grid__figure">
        <img
          src="http://www.medicalcor.com.br/uploads/2/7/3/9/27399147/196054_orig.jpg"
          alt=""
        />
        <figcaption>
          Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec
          ullamcorper nulla non metus auctor fringilla.
        </figcaption>
      </figure>
    </li>
    <li>
      <figure class="grid__figure">
        <img
          src="http://www.medicalcor.com.br/uploads/2/7/3/9/27399147/4447009_orig.jpg"
          alt=""
        />
        <figcaption>Parturient Mollis Malesuada Tristique Inceptos.</figcaption>
      </figure>
    </li>
    <li>
      <figure class="grid__figure">
        <img
          src="http://www.medicalcor.com.br/uploads/2/7/3/9/27399147/28631_orig.jpg"
          alt=""
        />
        <figcaption>Vehicula Quam Nibh</figcaption>
      </figure>
    </li>
    <li>
      <figure class="grid__figure">
        <img
          src="http://www.medicalcor.com.br/uploads/2/7/3/9/27399147/4971356_orig.jpg"
          alt=""
        />
        <figcaption>
          Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec
          ullamcorper nulla non metus auctor fringilla.
        </figcaption>
      </figure>
    </li>
    <li>
      <figure class="grid__figure">
        <img
          src="http://www.medicalcor.com.br/uploads/2/7/3/9/27399147/2387699_orig.jpg"
          alt=""
        />
        <figcaption>Parturient Mollis Malesuada Tristique Inceptos.</figcaption>
      </figure>
    </li>
    <li>
      <figure class="grid__figure">
        <img
          src="http://www.medicalcor.com.br/uploads/2/7/3/9/27399147/565444_orig.jpg"
          alt=""
        />
        <figcaption>Parturient Mollis Malesuada Tristique Inceptos.</figcaption>
      </figure>
    </li>
    <li>
      <figure class="grid__figure">
        <img
          src="http://www.medicalcor.com.br/uploads/2/7/3/9/27399147/9475138_orig.jpg"
          alt=""
        />
        <figcaption>Parturient Mollis Malesuada Tristique Inceptos.</figcaption>
      </figure>
    </li>
  </ul>
</div>
