<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css"
/>

<div class="card full-height w3-light-grey">
  <!-- Header -->
  <header class="w3-container w3-theme w3-padding" id="myHeader">
    <div class="w3-center">
      <h4>CENTRO CARDIOLÓGICO</h4>
      <h1 class="w3-xxxlarge">MedicalCor</h1>
      <div class="w3-padding-32">
        <button
          class="w3-btn w3-xlarge w3-dark-grey w3-hover-light-grey"
          style="font-weight: 900"
          onclick="window.location.href='/clinic-pictures'"
        >
          Galeria de Fotos
        </button>
      </div>
    </div>
  </header>

  <div class="w3-row-padding w3-center w3-margin-top">
    <div class="w3-third">
      <div class="w3-card w3-container" style="min-height: 460px">
        <h3>Atendimento Online</h3>
        <br />
        <i
          class="fa fa-desktop w3-margin-bottom w3-text-theme"
          style="font-size: 120px"
        ></i>
        <h4>Resposta em no máximo 5 minutos</h4>
        <h4>Especialistas prontos para tirar sua dúvida</h4>
        <h4>24 horas, 7 dias por semana</h4>
      </div>
    </div>

    <div class="w3-third">
      <div class="w3-card w3-container" style="min-height: 460px">
        <h3>Você em primeiro lugar</h3>
        <br />
        <img
          class="w3-margin-bottom"
          src="http://www.medicalcor.com.br/uploads/2/7/3/9/27399147/3661242.png"
          style="height: 120px"
          alt=""
        />
        <h4>
          Você pode contar com profissionais de várias especialidades médicas
          com atendimento de qualidade. A saúde e bem-estar da sua família em
          boas mãos.
        </h4>
      </div>
    </div>

    <div class="w3-third">
      <div class="w3-card w3-container" style="min-height: 460px">
        <h3>O que esperar de nós?</h3>
        <br />
        <i
          class="fa fa-diamond w3-margin-bottom w3-text-theme"
          style="font-size: 120px"
        ></i>
        <h3 style="text-align: left">Missão:</h3>
        <h5 style="text-align: left">
          Gerar valor, satisfação e conhecimento para cooperados e
          colaboradores, obedecendo preceitos éticos, objetivando a excelência
          em atendimento à saúde dos nossos clientes.
        </h5>
        <h3 style="text-align: left">Valores:</h3>
        <h5 style="text-align: left">
          Cooperativismo, Ética, Honestidade, Transparência, Comprometimento,
          Responsabilidade, Competência, Efetividade, Determinação
        </h5>
      </div>
    </div>
  </div>

  <div class="w3-container">
    <hr />
  </div>
</div>
