<div *ngIf="isAuthenticated | async" class="font">
  {{ userName | async
  }}<mat-icon
    class="click"
    [matMenuTriggerFor]="menu"
    matRipple
    [matRippleRadius]="15"
    [matRippleCentered]="true"
    >keyboard_arrow_down</mat-icon
  >
</div>
<div *ngIf="!(isAuthenticated | async)" class="font">
  <a
    mat-button
    color="accent"
    class="not-authenticated-button"
    [routerLink]="['/authentication/register']"
    (click)="register()"
    >Register</a
  >
  <a
    mat-button
    color="accent"
    class="not-authenticated-button"
    [routerLink]="['/authentication/login']"
    (click)="login()"
    >Login</a
  >
</div>

<mat-menu #menu="matMenu">
  <button
    mat-menu-item
    [routerLink]="['/authentication/profile']"
    (click)="profile()"
  >
    Profile
  </button>
  <button
    mat-menu-item
    [routerLink]="['/authentication/logout']"
    (click)="logout()"
    [state]="{ local: true }"
  >
    Logout
  </button>
</mat-menu>
